# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

HELP.md
build/
# !gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.apt_generated_tests
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
target/**
*.jar
*.war
*.ear
*.class
.metadata

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
bin/